# =========================================================================
# Digital Wallet Engine (wallet-core-service) - .gitignore
# =========================================================================

# Java & Maven
**/target/
**/*.class
**/*.jar
**/*.war
**/*.ear
**/*.nar
.mvn/wrapper/maven-wrapper.jar

# Logs
**/*.log

# IDE & Editors
.idea/
*.iml
*.iws
.vscode/
.settings/
.project
.classpath
*.sublime-project
*.sublime-workspace

# OS Files
.DS_Store
Thumbs.db
ehthumbs.db

# Database files
*.db
*.sqlite
*.h2.db
